{erl_opts, [no_debug_info,
	{i, "./apps/game_api/include"},
	{parse_transform, lager_transform},
    warnings_as_errors,
    nowarn_export_all
]}.

{deps, [
    {ranch, "1.7.1"},
    {lager, "3.5.2"},
    {mysql_poolboy, {git, "https://github.com/mysql-otp/mysql-otp-poolboy", {tag, "0.1.7"}}}
]}.

{relx, [{release, { game_api, "0.1.0" },
         [game_api,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
