[
  { game_api, [
        {game_port, 5254},          %% 游戏监听端口
        {game_node,'game@10.168.100.52'}     % 游戏节点
        {database,[
        {pool_game, [               %% 主库配置
            {host, "10.168.100.52"}, %% mysql host
            {port,  3306},          %% mysql port
            {user,  "root"},        %% mysql user
            {password,  "123456"},  %% mysql user's password'
            {database,  "game_demo"}, %% mysql database
            {encoding,  "utf8mb4"}, %% mysql charset encoding
            {keep_alive,  600000},  %% mysql keepalive timeout  10 * 60 * 1000, 10分钟
            {size, 5},              %% mysql client size
            {max_overflow, 200}]        %% If all the clients are busy, the max new create client
        }]}
  ]},
  
{lager, [
    {handlers, [
        {lager_console_backend, warning},
        {lager_file_backend, [
            {file, "log/console.log"}, {level, warning}, {size, 10485760}, {date, "$D0"}, {count, 16}
        ]},
        {lager_file_backend, [
            {file, "log/error.log"}, {level, error}, {size, 10485760}, {date, "$D0"}, {count, 10}
        ]}
    ]},
    {crash_log, "log/crash.log"},
    {colored, true}
]}
].
